/* App.css*/
#MianCard {
  transition: all 0.3s ease;        /* smooth animation */
  background-color: #f9f9f9;        /* light background */
  border: 2px solid #007bff;        /* blue border */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* subtle default shadow */
}

#MianCard:hover {
  transform: scale(1.05);           /* slight zoom */
  box-shadow: 0 12px 24px rgba(0,0,0,0.4); /* stronger shadow on hover */
}

.family-title {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   /* Modern Google font */
  font-weight: 700;  
  font-size:larger;
  font-style: italic;
  color:#5ab364;          /* Bold */
  
}